/* BODY */

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
}

.home-page {
    height: 100vh;
}

.page {
    height: 80vh;
}


/* NAV STOP COLAPESE */


/* HEADER */

header {
    background-color: rgba(255, 254, 254, 0.9)
}


/* PAGE 1 - HOME */

.align-page-center {
    height: 80vh;
}

.hello-text {
    margin-right: 25px;
    text-align: right;
}

.hello-text p:nth-child(1),
.hello-text p:nth-child(3) {
    margin: 0;
}

.hello-picture {
    text-align: left
}

.image-page-one {
    background-color: white;
    border-radius: 200px;
    height: 200px;
    height: 200px;
    margin-left: 25px;
    width: 200px;
    border: 2px solid transparent;
    background-clip: padding-box;
    background-image: url("./img/imghomeTom.jpg");
    background-position: center;
    background-size: 210px;
}

.image-page-one::after {
    position: absolute;
    top: -9px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(233, 228, 228, 0.6);
    content: '';
    border-radius: 200px;
    width: 220px;
    height: 220px;
    margin-left: 29px;
    z-index: -1;
}


/* PAGE 2 - ABOUT */

.page-two-container {
    height: 50vh;
}

.prog-lan-item {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    max-width: 250px;
}

.jquery-list {
    max-width: 150px;
}

.class-test {
    display: flex;
    flex-direction: row;
}

.page-two-container img {
    width: 100%;
}


/*  PAGE 3  PORTFOLIO */

.portfolio h3 {
    text-align: center;
    padding-bottom: 10px;
}

.card {
    /* height: 350px; */
}

.card-img-top {
    height: 180px;
}


/* PAGE 4 - BLOG */

.blog h3 {
    text-align: center;
}

.post-one {
    color: black;
}

.post-two {
    color: black;
    margin-top: 30px;
}

.blog-card-title {
    padding-top: 35px;
}


/* PAGE 5  - CONTACT*/

.contact-me-page-header {
    text-align: center;
}


/* MEDIA SCREEN */


/* PAGE 1 */

.main-page-intro-mobile {
    padding: 20px 0 150px 0;
}

.main-page-intro-mobile .hello-text {
    text-align: center;
}

.main-page-intro-mobile .image-page-one {
    margin: 60px 0 0 0;
}

.main-page-intro-mobile .image-page-one::after {
    background-color: white;
}


/* MEDIA SCREEN FOR MAX 770px */

@media screen and (max-width: 767px) {
    .card {
        margin-bottom: 50px;
    }
    .page-two-container {
        height: 100%;
    }
    /*  PAGE 3 */
    .page {
        height: unset;
    }
    .portfolio h3 {
        padding-top: 100px;
    }
    .blog {
        padding-top: 50px;
    }
    .contact {
        padding-top: 50px;
    }
}


/* MEDIA SCREEN FOR MAX 576px */

@media screen and (max-width: 576px) {
    /*  PAGE 2 */
    .card {
        margin-bottom: 50px;
    }
    .page-two-container {
        height: 100%;
    }
    /*  PAGE 3 */
    .page {
        height: unset;
    }
    .portfolio h3 {
        padding-top: 100px;
    }
}


/*  ARROW HIDE SHOW */

.arrow {
    height: 50px;
    width: 50px;
    background-image: url("./img/arrow.png");
    background-size: 50px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    right: 47.5%;
}

.hide {
    opacity: 0;
}

.show {
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
}